<h3>Estadísticas</h3>
<p>Número de preguntas: <%= statistics.preguntas %></p>
<p>Número de comentarios: <%= statistics.comentarios %></p>
<p>Número medio de comentarios por pregunta: <%= statistics.mediaComentarios %></p>
<p>Número de preguntas sin comentarios: <%= statistics.sinComentarios %></p>
<p>Númerod de preguntas con comentarios: <%= statistics.conComentarios %></p>
